.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D0F4EA;
    padding: 0.5vh
}

.nav__logo {
    margin-left: 15vh;
    text-align: center;
    font-size: larger;
}

.nav__logo img {
    width: 7vh;
    height: 7vh;
}

.nav__options {
    display: flex;
    list-style-type: none;
    margin-right: 5vh;
}

.nav__button {
    width: 15vh;
    height: 5vh;
    margin-right: 4vw;
    font-size: x-large;
}

.nav__button:hover {
    color: gray;
}