/*https: //coolors.co/545f66-829399-d0f4ea-e8fcc2-b1cc74 link to palette*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #545F66;
}

.invalid {
  border: 1px solid #d21111 !important;
}

/*Start of user form*/
.user__form__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user__form {
  width: 280px;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

.user__form * {
  box-sizing: border-box;
}

.user__form__input {
  margin-bottom: 15px;
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

.user__form label {
  color: #777;
  font-size: 0.8em;
}

.user__form__button {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;

  background: #207cca;
  background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
  background: -webkit-linear-gradient(left, #207cca 0%, #9f58a3 100%);
  background: linear-gradient(to right, #207cca 0%, #9f58a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#207cca', endColorstr='#9f58a3', GradientType=1);
}

/*End of user form*/

/*Start of navbar*/

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 10px 30px;
  background-color: #829399;
  box-shadow: 0 1px 8px #545F66;
}

.nav__logo {
  margin-right: auto;
  text-align: center;
}

.app__version {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  font-weight: bolder;

}

.nav__options {
  justify-content: center;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 15px 30px;
}

.nav__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

.nav__button:hover {
  color: #B1CC74;
}

/*End of navbar*/

/*Start of notification*/

.notification__wrap {
  min-width: 250px;
  margin-left: -125px;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  color: #eee;
  -webkit-animation: fadein 0.5s, fadeout 0.6s 2.5s;
  animation: fadein 0.5s, fadeout 0.6s 2.5s;
}

.notification__Error {
  background-color: #CA3433;
}

.notification__Warning {
  background-color: #e0a800;
}

.notification__item {
  display: block;
  padding: 5px 5px;
}

.notification__type {
  text-transform: uppercase;
  font-size: 15px;
}

.notification__message {
  font-size: 12px;
}

.notification__timeStamp {
  text-align: right;
  font-size: 10px;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }

  to {
    right: 15px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }

  to {
    right: 15px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 15px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 15px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

/*End of notification*/

/*Start of table */

.food__table table {
  font-size: 125%;
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid black;
}

table td,
table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table tfoot {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

table thead th,
table tfoot th {
  padding: 3px;
  width: 25vw;
  background: lightyellow;
}

table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}

table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background: lightyellow;
}

table thead th:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  background: lightyellow;
}

table tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
  background: lightyellow;
}

table tbody td:last-child {
  position: sticky;
  right: 0;
  background: lightyellow;
  z-index: 1;
}

/*End of table */